out
dist
node_modules
.vscode-test/
*.vsix
.venv/
.vs/
.nox/
bundled/libs/
**/__pycache__
**/.pytest_cache
**/.vs
**/.*_suricata_check/
**/suricata-check*.log
**/suricata-check*.json
**/suricata-check*.jsonl
.coverage